<html>

<head>

</head>

<body>
    <div class="container">
        <header>
            <%- include('header.ejs') %>
        </header>

        <section>
            <h3>Food Categories Manager</h3>
            <div id="tblCategories"></div>
        </section>


        <footer>
            <%- include('footer.ejs') %>
        </footer>
    </div>

</body>
<script src="script/categories.js"></script>

</html>