<html>
    <head>
    </head>
    <body>
            <div class="container-fluid text-center bg-lightgray">
                <div class="copyrights" style="margin-top:25px;">
                    <p>PTPMCN © 2016, All Rights Reserved
                        <br>
                        <span>Web Design By: Group 12</span></p>
                    <p><a href="https://www.hust.edu.vn/" target="_blank">Contact for support<i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
                </div>
            </div>
                    
    </body>
</html>