<html>
    <head>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="css/login.css" type="text/css" rel="stylesheet">
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <!-- <br>
        <form action="/login" method="POST">
            <input type="text" name="username" autocomplete="off">
            <input type="password" name="password" autocomplete="off">
            <input type="submit" value="Login" name="">
        </form> -->

        <div class="container">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                    <form class="form-signin my-login-form" action="/login" method="POST">
                        <h1 class="form-signin-heading text-muted my-title-login">ORDER FOOD MANAGER</h1>
                        <input type="text" name="username" class="form-control my-username-form" placeholder="Usernams" required="" autofocus="">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                        <button class="btn btn-lg btn-primary btn-block my-btn-login" type="submit">
                            Login
                        </button>
                    </form>
            </div> 
            <div class="col-md-3"></div>
    </body>
</html>