<html>
    <head>
        <link href="css/products.css" type="text/css" rel="stylesheet">  
    </head>
    <body>
        <header>
                <%- include('header.ejs') %>
        </header>
        
        
        <footer>
                <%- include('footer.ejs') %>
        </footer>
    </body>
    <script src="script/products.js"></script> 
</html>